# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class

# Virtual Environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/

# Operating System
Thumbs.db
.DS_Store

# Build Outputs
build/
dist/
*.egg-info/

# Others
*.log
logs/

# Ignore the entire VisDrone dataset folder, do not upload to remote repository
datasets/Visdrone/
*.zip
*.tar.gz
*.h5
*.pt
*.ckpt
