# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class

# Virtual Environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Build outputs
build/
dist/
*.egg-info/

# 其它
*.log
logs/